<div class="app">
  <h1>Privacy Policy</h1>

  <p>Your privacy is important to us at Roasted Royals. When you order our premium coffee beans, we want to assure you that we take necessary steps to protect your information for a delightful and secure experience.</p>

  <p>Here are some key points about our privacy:</p>

  <ul>
    <li>Your IP address is logged when placing an order to enhance fraud protection measures.</li>
    <li>Fraudulent orders will be promptly reported to the appropriate authorities to maintain the integrity of our community.</li>
    <li>Roasted Royals may collect personally identifiable information, such as your name, address, telephone number, email addresses, and demographic information when you voluntarily provide it on online forms, including user registration and contact requests.</li>
    <li>Our web servers automatically identify computers by their IP addresses to analyze trends, administer the site, track user movement, and gather broad demographic information for aggregate use. Importantly, IP addresses are not linked to personal information.</li>
  </ul>

  <p>We appreciate your trust in Roasted Royals and are committed to ensuring the security and confidentiality of your personal information.</p>
</div>

  