.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  margin: 60px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  color: rgb(26, 3, 3);
  text-align: center;
  border-bottom: 2px solid #333;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  font-style: normal;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
  font-size: 18px;
}

li {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  font-size: 18px;
  font-style: normal;
}


  
  