<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color:rgb(52, 47, 47)">
<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color:rgb(0, 0, 0)">

    <div class="container">
      <a class="navbar-brand" href="#">ROASTED ROYALS</a>
      <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="d-flex justify-content-start align-items-center">
          <i class="fas fa-bars"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link px-3" href="#!"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="homepage"> HomePage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="about-us"> Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="products">Products</a>
          </li>
   
          <li class="nav-item">
            <a class="nav-link px-3" href="contactus">Contact us</a>
          </li>

          <li class="nav-item" class="nn" id="ll" class="lo">
            <a class="nav-link px-3" href="login">Login</a>
          </li>
          <li class="nav-item" class="nn" id="ll">
            <a class="nav-link px-3" href="registration">Registration</a>
          </li>
        </ul>
  
         <ul class="navbar-nav flex-row">
      
        </ul>
      </div>
    </div>
  </nav>