<div class="full-image">
  <div class="container">

    <form #regForm="ngForm" (ngSubmit)="register(regForm.value)" class="border p-4 rounded-3" id="register">
      <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
          <span class="fs-3 ">
            <h3>Register</h3>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" ngModel required #firstName="ngModel" minlength="3"
            maxlength="10" placeholder="First Name">
          <div class="form-text text-danger">
            <div *ngIf="firstName.errors?.['required'] && firstName.touched">First Name is required</div>
            <div *ngIf="firstName.errors?.['minlength'] && firstName.touched">Enter minimum 3 charcters</div>
          </div>
        </div>

        <div class="col mb-3">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" ngModel required #lastName="ngModel" minlength="3"
            maxlength="10" placeholder="Last Name">
          <div class="form-text text-danger">
            <div *ngIf="lastName.errors?.['required'] && lastName.touched">Last Name is required</div>
            <div *ngIf="lastName.errors?.['minlength'] && lastName.touched">Enter minimum 3 charcters</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3 ">
          <label for="phoneNumber">Phone Number</label>
          <input type="number" class="form-control" placeholder="Enter Number" name="phoneNumber" ngModel required
            #phoneNumber="ngModel" minlength="10" maxlength="10">
          <div class="form-text text-danger">
            <div *ngIf="phoneNumber.errors?.['required'] && phoneNumber.touched">Phone Number is required</div>
            <div *ngIf="phoneNumber.errors?.['minlength'] && phoneNumber.touched">Enter minimum 10 digits</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Enter Email" name="emailId" ngModel required
            #email="ngModel" minlength="13" maxlength="40">
          <div class="form-text text-danger">
            <div *ngIf="email.errors?.['required'] && email.touched">Email is required</div>
            <div *ngIf="email.errors?.['minlength'] && email.touched">Enter Correct Email Id</div>
           
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="registerArray.password" ngModel
            required #password="ngModel" minlength="8" maxlength="12" [pattern]="passwordptn" placeholder="Password">
          <div class="form-text text-danger">
            <div *ngIf="password.errors?.['required'] && password.touched">password is mandatory</div>
            <div *ngIf="password.errors?.['minlength'] && password.touched">enter minimum 8 charcters</div>
            <div *ngIf="password.errors?.['pattern']"> password should contain 8-12 charcters and one special character
              and atleast one capital letter and atleat one small letter</div>
          </div>
        </div>

        <div class="col mb-3">
          <label for="ConformPassword">Conform Password</label>
          <input type="password" class="form-control" name="conformPassword" [(ngModel)]="registerArray.ConformPassword"
            required #ConformPassword="ngModel" placeholder="ConformPassword">
          <span class="text-danger"
            *ngIf="registerArray.password!== registerArray.ConformPassword && ConformPassword.touched">Password is
            mismatching </span>
        </div>
      </div>
      <div class="row mb-3">
        <div>
          <div>
            <button [disabled]="regForm.invalid" type="submit" 
              class="btn btn-primary ">Register</button>
              Already User? <a href="login">SignIn</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>










  