<div class="css">
@if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="//images.pexels.com/photos/5108382/pexels-photo-5108382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"/>
		    </div>
			<div class="carousel-caption">
				<h1>ROASTED ROYALS</h1>
                <h4>GREATE COFFEE. EVERYDAY</h4>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper"> 
				 <img src="https://images.pexels.com/photos/5887653/pexels-photo-5887653.jpeg" alt="Random third slide" />
            </div>
			<div class="carousel-caption">
				<h1>50% OFF</h1>
                <h4> ON FIRST 3 ORDERS</h4>
			</div>
		</ng-template>
	</ngb-carousel>
}


 <div class="home">
    <div class="context">
        <h1 class="mb-5">
         Coffee Time <br/>Is At Any Time.
        </h1>
        <a routerLink="/products">Order Now <i class="bi bi-arrow-right"></i></a>
    </div>
</div>


<div class="ap">
  <div class="home1">

      <div class="image">
		<img src="https://images.pexels.com/photos/3999940/pexels-photo-3999940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"/>
      </div>
    
      <div class="paragraphs">
        <h2>Our Collection </h2>
        <p>"Arabica beans are smooth and mild, like a friendly hug for your taste buds. Robusta beans are bold and strong, giving your coffee a kick, like a superhero in a cup. Try both and discover the amazing world of coffee flavors!" </p>
      
	</div>
    </div> 
   
	<div class="home2">

		<div class="image1">
		  <img src="https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg?auto=compress&cs=tinysrgb&w=600"/>
		</div>
	  
		<div class="paragraphs">
		  <h2>Coffee beans </h2>
		  <p>
			"Meet the amazing coffee beans that bring your favorite cup to life! Arabica beans are like the friendly storytellers, making your coffee smooth and mild. Robusta beans are the bold heroes, giving your cup a kick of strength. These beans, grown in different places around the world, create a symphony of flavors. Take a sip, and let the adventure begin! 🌍☕️" </p>
		</div>

	  </div> 
</div>



</div>


<app-products></app-products> 