.img{
    background-image: url(https://images.pexels.com/photos/1101122/pexels-photo-1101122.jpeg);
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: rgb(252, 112, 112);
    background: url(https://virtualbackgrounds.site/wp-content/uploads/2020/07/coffee-shop.jpg) no-repeat right top ;
    background-size: cover;
    height: 500px;
    padding: 10px;
   
  }

  h1{
    text-align: center;
    padding-top: 15%;
    font-size: 70px;
   
  }



.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
  }
  
  .contact-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .contact-card img {
    width: 50px;
    height: 50px;
  }
  

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  