
<div class="about-section">
         <h1>Contact Us</h1>
   </div>

 
<div class="img">
<div class="contact-container">
  <div class="contact-card">
    <img src="https://cdn-icons-png.flaticon.com/128/13965/13965327.png" alt="Phone Icon" />
    <div class="contact-info">
      <h3>Phone</h3>
      <p>(+91) 234-876-5431</p>
    </div>
  </div>

  <div class="contact-card">
    <img src="https://cdn-icons-png.flaticon.com/128/1250/1250973.png" alt="Email Icon" />
    <div class="contact-info">
      <h3>Email</h3>
      <p>roastedroyals&#64;gmail.com</p>
    </div>
  </div>

  <div class="contact-card">
    <img src="https://cdn-icons-png.flaticon.com/128/535/535188.png" alt="Location Icon" />
    <div class="contact-info">
      <h3>Location</h3>
      <p>Gachibowli, Hyderabad, Telangana, India,</p>
    </div>
  </div>
</div>





<div class="contact-form">
  <h2>Contact Us</h2>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="contactFormData.name" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="contactFormData.email" required>
    </div>

    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" [(ngModel)]="contactFormData.subject" required>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" name="message" [(ngModel)]="contactFormData.message" required></textarea>
    </div>

    <button type="submit" (click)="submitForm()">Send</button>
  </form>
</div>

</div>